appdirs==1.4.3
backports.functools-lru-cache==1.5
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
enum-compat==0.0.2
enum34==1.1.6
functools32==3.2.3.post2
html5lib==1.0.1
idna==2.6
jsonschema==2.6.0
lazyarray==0.2.9
lxml==4.1.1
matplotlib==2.1.2
neo==0.4.1
numpy==1.14.0
PyNN==0.8.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
quantities==0.12.1
requests==2.18.4
rig==2.4.0
scipy==1.0.0
sentinel==0.1.1
six==1.11.0
spalloc==1.0.0
SpiNNaker-DataSpecification==1!4.0.0
SpiNNaker-PACMAN==1!4.0.0
SpiNNFrontEndCommon==1!4.0.0
SpiNNMachine==1!4.0.0
SpiNNMan==1!4.0.0
SpiNNStorageHandlers==1!4.0.0
SpiNNUtilities==1!4.0.0
sPyNNaker==1!4.0.0
sPyNNaker8==1!4.0.0
subprocess32==3.2.7
tzlocal==1.5.1
urllib3==1.22
virtualenv==15.1.0
webencodings==0.5.1
